<footer class="site-footer">

  <div class="container">
    <div class="footer-content">
      <div class="footer-column column-left">
        <a href={{ "/" | prepend: site.url }}>
          <img src={{ "/assets/images/logo.pdf" | prepend: site.url }} alt="Alan Mead. Coach, Trainer" />
        </a>
      </div>
      <div class="footer-column column-middle">
        <li><a href={{ "/about" | prepend: site.url }}>About Me</a></li>
        <li><a href={{ "/coaching" | prepend: site.url }}>Personal Coaching</a></li>
        <li><a href={{ "/coachingworkshops" | prepend: site.url }}>Coaching Workshops</a></li>
        <li><a href={{ "/performancecoaching" | prepend: site.url }}>Performance and Executive Coaching</a></li>
        <li><a href={{ "/training" | prepend: site.url }}>Training</a></li>
        <li><a href="https://linkedin.com/in/alanmead" target="_blank">LinkedIn</a></li>
        <li><a href="https://twitter.com/{{ site.twitter }}" target="_blank">Twitter</a></li>
      </div>
      <div class="footer-column column-right footer-footer">
        <p>Design and logo by Paul Beck. Thank you. </p>
        <p>Made with &hearts; in the Channel Islands.</p>
        <p>&copy; Alan Mead 2018</p>
      </div>
    </div>
  </div>

</footer>
