<header class="site-header">

  <div class="container">
    <div class="brand">
      <a href={{ "/" | prepend: site.url }}>
        <img src={{ "/assets/images/logo.pdf" | prepend: site.url }} alt="Alan Mead. Coach, Trainer" />
      </a>
    </div>
    <nav>
      <a href={{ "/about" | prepend: site.url }}>About</a>
      <div class="dropdown">
        <span>Coaching </span>
        <div class="dropdown-content">
          <a href={{ "/coaching" | prepend: site.url }}>Personal Coaching</a>
          <a href={{ "/coachingworkshops" | prepend: site.url }}>Coaching Workshops</a>
          <a href={{ "/performancecoaching" | prepend: site.url }}>Performance and Executive Coaching</a>
        </div>
      </div>
      <a href={{ "/training" | prepend: site.url }}>Training</a>
      <a href="#contact" class="smooth-scroll">Contact</a>
    </nav>

  </div>

</header>
