// Reset spacing
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: $base-font-family;
}
img {
  max-width: 100%;
}
section {
  padding: 45px 15px 0;
  @media (min-width: 980px){
    padding-left: 0;
    padding-right: 0;
  }
}
p, blockquote {
  max-width: 670px;
}
h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
}
p {
  font-size: 18px;
  line-height: 1.6;
  padding-bottom: 15px;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: $brand-color;
}
