.site-header {
  background: rgba(255,255,255,1);
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border-bottom: 1px solid $tint;
    @include for-tablet-landscape-up {
        padding-left: 0;
        padding-right: 0;
    }
  }
  a {
    img {
      max-width: 180px;
    }
  }
  nav {
    display: none;
    @include for-tablet-portrait-up {
      display: block;
    }
    a, .dropdown {
      font-size: 16px;
      font-weight: normal;
      margin-left: 15px;
      @include for-tablet-portrait-up {
          font-size: 16px;
      }
      @include for-tablet-landscape-up {
          font-size: 17px;
      }
    }
    .dropdown {
      color: $brand-color;
      position: relative;
      display: inline-block;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      right: 0;
      background: #fff;
      min-width: 360px;
      box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.1);
      padding: 16px 16px;
      z-index: 1;
    }
    .dropdown:hover .dropdown-content {
      display: block;
      a {
        margin-left: 0;
        display: block;
        padding: 12px 15px;
        text-align: left;
        &:hover {
          background: #eaeaea;
        }
      }
    }
  }
  @include for-tablet-portrait-up {
    position: fixed;
  }
}
