@charset "utf-8";

$base-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6;

$brand-color:      #27ade7;
$tint:             #a1daf8;

// Import partials.
@import
  "breakpoints",
  "base",
  "header",
  "footer",
  "layout"
;
